
<form method="post" action="/merchants/<%=@merchant.id %>">
  <label for="merchant_name">Merchant Name:</label>
  <input id="merchant_name" type="text" name="merchant_name" value= "<%= @merchant.merchant_name %>"/>
  <input type="submit" value="Save Changes" />
</form>
