<h1>Manage Your Merchants</h1>

<table>
  <a href="/merchants/new">Create Merchant</a>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%=merchant.id %>"><%= merchant.merchant_name %></a></td>
    <td>

      <form method="get" action="/merchants/<%= merchant.id %>/edit">
        <input type="submit" value="Edit Merchant">
      </form>


        <form action="/merchants/<%= merchant.id %>/delete" method="post">
          <input type="submit" value="Delete" />
        </form>


  </tr>
  <% end %>

</table>
