
<form method="post" action="/tags/<%=@tag.id%>">
  <label for="category_name">Category Name:</label>
  <input id="category_name" type="text" name="category_name" value= "<%= @tag.category_name %>" />
  <input type="submit" value="Save Changes" />
</form>
