<h1> Manage your tags here</h1>


<% for tag in @tags %>
<p>Category Name: <%= tag.category_name() %></p>

<form action="/tags/<%=tag.id %>" method="get">
  <input type="submit" value="Viewing transaction by category"/>

</form>
<% end%>
