<h1>Manage Your Tags</h1>

<table>
  <form action="/tags/new" method="get">
    <input type="submit" value="Create Tag">
  </form>
  
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%=tag.id %>"><%= tag.category_name %></a></td>
    <td>

      <form action="/tags/<%= tag.id %>/edit" method="get" >
        <input type="submit" value="Edit Tag" />
        </form>


        <form action="/tags/<%= tag.id %>/delete" method="post">
          <input type="submit" value="Delete" />
          </form


  </tr>
  <% end %>

</table>
