
<p>Your transaction has been created</p>

<p>Merchant: <%= @transaction.merchant.merchant_name %></p>
<p>Tag: <%= @transaction.tag.category_name %></p>
<p>Date: <%= @transaction.transaction_date %></p>
<p>Amount: £<%= @transaction.transaction_amount %></p>
